.contact-card{
    border:solid 2px black;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5px 0 5px;
    margin-right: 20px;

}

.contacts-section{
    display: flex;
}
.btn-section{
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin-bottom: 15px;
}
.input{
    font-size: 20px;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
}
.title{
    font-size: 30px;
    font-family: sans-serif;

}
.btn{
    text-decoration: none;
    color: black;
}
.btn-modify{
    margin-top: 10px;
}
.display-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}